body, pre
  color white

.radio
  display flex
  flex-flow row nowrap
  justify-content flex-end
  margin-bottom 24px

.radio-option
  font-size 12px
  border-left 1px solid #ccaa26
  border-top 1px solid #ccaa26
  border-bottom 1px solid #ccaa26
  line-height 12px
  padding 6px 12px
  color #ccaa26
  cursor pointer
  &.active
    color black
    background #ccaa26
  &:first-child
    border-radius 6px 0 0 6px
  &:last-child
    border-right 1px solid #ccaa26
    border-radius 0 6px 6px 0
