doctype html

html

  head
    title= title
    link(rel='stylesheet', href='/style')

  body
    script(src='/script')

    each widget in widgets
      = widget

    //-each script in init
      //-pre= script
      //-script(type='application/wisp')!= script

