doctype html

html

  head
    title= title
    link(rel='stylesheet', href='/style')
    meta(charset='utf-8')

  body
    script(src='/script')

    script(type='application/wisp')
      | (let [client (require 1)]
      | (client.init-widgets {
      each member in body
        | "!{mori.get(member, 'id')}"
        | {
        | "template" "!{mori.get(member, 'template')}"
        | }!{"\n"} 
      | }))

    //-each script in init
      //-pre= script
      //-script(type='application/wisp')!= script

